<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <title>User Profile</title>
</head>

<body>
  <div class="container light-style flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
      Configuração da conta
    </h4>
    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list"
              href="#account-general">Geral</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Mudar
              senha</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Informações
              adicionais</a>
            <a class="list-group-item list-group-item-action" data-toggle="list"
              href="#account-notifications">Preferências</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">
              <hr class="border-light m-0">
              <form id="userAccountForm" action="/account" method="POST">

                <div class="card-body">
                  <div class="form-group">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome" value="{{userName}}">
                  </div>
                  <div class="form-group">
                    <label class="form-label">E-mail</label>
                    <input type="text" class="form-control mb-1" name="email" value="{{userEmail}}">
                    <div class="alert alert-warning mt-3">
                      Seu email não foi confirmado. Por favor veja o inbox.<br>
                      <a href="javascript:void(0)">Reenviar notificação</a>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Empresa</label>
                    <input id="empresaInput" type="text" class="form-control" name="empresa" value="{{userEmpresa}}">
                  </div>
                </div>
            </div>
            <div class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">Senha atual</label>
                  <input type="password" class="form-control" name="senhaAtual">
                </div>
                <div class="form-group">
                  <label class="form-label">Nova senha</label>
                  <input type="password" class="form-control" name="novaSenha">
                </div>
                <div class="form-group">
                  <label class="form-label">Repita a nova senha</label>
                  <input type="password" class="form-control" name="repetirNovaSenha">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="account-info">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">Data de Nascimento</label>
                  <input id="dataNascimentoInput" type="date" class="form-control" name="dataNascimento" value="{{userDataNascimento}}">
                </div>
                <div class="form-group">
                  <label class="form-label">País</label>
                  <select id="paisInput" class="custom-select" name="pais">
                    <option>Alemanha</option>
                    <option selected>Brasil</option>
                    <option>Estados Unidos</option>
                    <option>França</option>
                    <option>Inglaterra</option>
                  </select>
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">
                <h6 class="mb-4">Contato</h6>
                <div class="form-group">
                  <label class="form-label">Celular</label>
                  <input placeholder="+** (**) *****-****" id="celularInput" type="text" class="form-control"
                    name="celular" value="{{userCelular}}">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="account-notifications">
              <div class="card-body pb-2">
                <h6 class="mb-4">Defina suas preferências aqui</h6>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">
                <div class="mb-4">
                  <h6>Modo dark</h6>
                </div>
                <label class="switch">
                  <input type="checkbox" id="themeSwitch" name="modoDark">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right mt-3 custom-margin-right">
    <button id="salvarMudancasBtn" type="submit" class="btn btn-primary">Salvar mudanças</button>&nbsp;
    <button type="button" class="btn btn-default">Cancelar</button>
  </div>
  </form>
  </div>

  <script src="/js/darkMode.js"></script>
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>